.container {
  margin-top: 4rem;
}

.task {
  border: 1px solid #7461e8;
  border-radius: 6px;
  padding: 0.8rem;

  &:hover {
    cursor: pointer;
  }

  .taskTitle {
    font-weight: bold;
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }
}
