.inputContainer {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;

  .label {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    font-weight: normal;
  }

  .input {
    min-width: 400px;
    padding: 0.4rem 0.8rem;
  }
}