@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* .adminjs_NavBar {
  background-color: aqua !important;
}

.top-bar {
  background-color: aqua !important;
} */

/* Need to use !important quite frequently */

* {
  font-family: 'Poppins', sans-serif !important;
  /* border-radius: 10px !important; */
}
