.button {
  margin: 0rem 0.2rem;
  border-radius: 6px;
  background-color: #8172e0;
  padding: 0.4rem 0.8rem;
  color: #fff;
  border-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.buttonSecondary {
  border-radius: 6px;
  background-color: #fff;
  padding: 0.4rem 0.8rem;
  color: #8172e0;
  border: 1px solid #8172e0;

  &:hover {
    cursor: pointer;
  }
}

.__disabled {
  background-color: #a29ad5;
}
