<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: 'Roboto', sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <div
      style="
        position: relative;
        width: 820px;
        height: 540px;
        background-color: #fff;
        padding: 1.4rem 4rem;
        padding-bottom: 0.2rem;
      "
    >
      <svg
        style="position: absolute; left: 0%; top: 18%; z-index: 0"
        width="131"
        height="218"
        viewBox="0 0 131 218"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M-93.713 196.597C-81.4675 208.156 -32.5618 206.854 -17.4079 214.279C-14.6527 215.657 -11.7444 216.805 -8.68298 217.035C-1.18258 217.647 5.55248 212.901 11.5222 208.385C25.4515 197.822 39.3808 187.106 55.0704 179.298C69.9947 171.873 86.6027 167.128 99.4605 156.488C110.482 147.379 117.829 134.596 123.492 121.43C123.569 121.277 123.645 121.048 123.722 120.895C136.733 90.2003 130.534 54.8366 108.339 30.0361L105.354 26.6682C93.1847 13.1198 76.347 4.6233 58.2083 2.93932C58.1318 2.93932 57.9787 2.93932 57.9022 2.93932C39.9931 1.25533 22.084 -0.428647 4.09832 0.107165C4.09832 0.107165 3.86872 0.107164 3.48604 0.183709C-39.2203 7.37891 -76.5692 33.0214 -98.6112 70.2221L-125.016 114.465C-129.072 118.139 -129.072 124.569 -124.863 128.166L-124.786 128.243C-102.438 146.996 -114.913 176.543 -93.713 196.597Z"
          fill="#FFC4B8"
        />
      </svg>

      <svg
        style="position: absolute; right: 0%; top: 0%; z-index: 0"
        width="190"
        height="232"
        viewBox="0 0 190 232"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M65.8858 108.071C61.5234 117.486 58.1558 129.198 64.049 137.771C69.483 145.578 80.3509 147.109 89.8412 146.497C99.3315 145.884 109.204 143.971 118.082 147.415C130.481 152.237 136.833 165.939 140.201 178.798C143.569 191.658 145.482 205.589 153.671 216.076C169.667 236.59 202.653 234.217 224.542 220.133C253.549 201.456 270.387 166.704 270.922 132.183C271.458 97.6611 256.993 63.9049 234.721 37.5735C223.624 24.4844 209.848 12.62 193.163 8.48657C166.758 1.90373 143.415 24.1782 123.516 38.5686C98.8723 56.4035 78.7437 80.5151 65.8858 108.071Z"
          fill="#FFC4B8"
        />
        <path
          d="M219.493 37.9566C213.676 18.7439 202.502 1.44479 187.424 -11.7974C174.49 -23.0495 154.591 -37.2103 136.605 -31.8522C135.84 -31.6225 135.304 -31.1633 134.998 -30.6274C123.748 -31.0102 112.42 -28.3311 102.624 -22.131C92.0622 -15.395 84.1026 -2.22935 90.3019 10.0943C97.9554 25.4033 117.013 26.0156 131.478 29.2305C150.229 33.4405 166.148 45.7642 175.102 62.8336C179.312 70.7943 180.689 78.8315 182.144 87.5576C183.292 94.217 185.435 101.106 191.94 104.321C203.726 110.138 216.202 101.259 220.717 90.5428C227.452 74.7746 224.314 53.8779 219.493 37.9566Z"
          fill="#E68E83"
        />
        <path
          d="M185.204 54.2609C176.173 56.2511 165.764 36.0433 155.738 38.0334C145.253 40.1001 146.324 52.5769 139.819 55.4091C128.721 60.1548 121.757 35.1247 109.358 33.6704C101.245 32.7518 87.3925 45.4583 84.2545 44.9224C77.6725 43.7743 85.5556 26.4752 76.8307 19.3565C67.0342 11.4724 51.4976 23.8727 49.2016 13.6922C47.5178 5.96119 57.3908 -1.76982 49.5843 -10.1132C46.9821 -12.8688 37.7979 -17.2318 29.3791 -12.2564C14.5314 -5.13779 23.486 -27.795 20.348 -29.7852C11.7762 -35.4495 -0.928606 -25.1925 0.449019 -12.7923C1.13783 -6.28596 5.04109 0.449975 10.6281 3.51176C16.7509 6.87973 26.5473 3.05249 30.9098 6.57355C36.8795 11.3959 24.5574 27.6999 38.0275 35.3544C45.5279 39.5643 51.0384 33.2111 57.2377 34.6655C70.7078 37.9569 62.289 46.0706 65.58 55.4091C69.7895 67.1204 81.8819 68.8044 91.6784 63.0635C102.929 56.4807 106.45 44.7694 114.868 60.3079C118.083 66.2019 120.991 72.7082 128.645 75.8465C132.778 77.5305 137.446 77.6836 141.579 76.0761C149.232 73.0909 148.926 64.0586 154.36 60.8437C165.687 54.1844 175.714 76.8416 192.475 67.4266C201.429 62.5277 197.22 51.5818 185.204 54.2609Z"
          fill="#477E72"
        />
      </svg>

      <svg
        style="position: absolute; right: 2%; bottom: 0%; z-index: 0"
        width="163"
        height="113"
        viewBox="0 0 163 113"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.582031 107.024C3.87302 103.732 8.69467 103.732 12.9806 102.89C20.7106 101.895 28.5172 100.823 36.0176 98.6036C48.5692 95.4653 59.4372 88.3466 70.2286 81.6873C70.3816 81.9169 70.6112 82.2996 70.7643 82.5292C70.6877 80.6922 72.6011 80.0033 73.9022 79.0847C82.3976 73.0377 90.2041 65.8425 97.4749 58.4177C105.434 51.3755 111.098 42.3433 117.45 33.9999C125.027 23.8195 129.39 10.0414 140.564 3.22896C140.793 3.45859 141.176 3.9944 141.329 4.22403C140.717 4.6833 140.105 5.21913 139.492 5.6784C139.416 5.52531 139.186 5.14258 139.11 4.91295C138.957 5.44876 138.88 5.90803 138.804 6.44384C140.028 5.60185 141.482 4.91295 142.477 3.76478C141.942 3.4586 141.406 3.30551 140.87 3.30551C141.942 2.08079 143.625 1.16225 145.309 0.932617C144.697 1.46843 144.084 1.85116 143.396 2.15734C143.166 2.54006 143.013 2.84623 142.86 3.22896C142.936 3.3055 143.09 3.38206 143.09 3.38206C144.773 2.23389 146.763 1.16224 148.906 1.54497C148.677 1.7746 148.294 2.31043 148.064 2.54006C148.37 2.76969 149.059 3.15242 149.365 3.38206C149.136 3.61169 148.6 4.07095 148.294 4.37713C149.136 4.53022 149.901 4.30059 150.666 4.07095C150.973 4.75986 150.59 5.29565 150.054 5.75492C150.207 5.90801 150.513 6.21418 150.666 6.36727C151.049 5.44873 151.814 5.67837 152.58 5.98455C151.738 7.28581 153.116 7.89816 153.957 8.66361L154.417 8.05126C155.105 9.42907 156.942 11.1896 155.871 12.797C155.947 13.0267 156.177 13.4094 156.253 13.5625C156.024 13.7156 155.641 14.0983 155.412 14.2514C155.718 14.1749 156.253 14.0983 156.483 14.0983C156.33 14.6341 156.254 15.2465 156.177 15.7823C156.407 15.6292 156.789 15.3996 156.942 15.323C157.019 14.9403 157.172 14.2514 157.248 13.8687C157.325 14.7107 157.402 15.6292 157.478 16.4712L158.09 16.3181C157.784 15.6292 157.861 15.0934 158.32 14.5576C158.396 15.0168 158.396 15.5526 158.473 16.0885C158.779 16.3181 159.162 16.5477 159.468 16.7008C159.009 17.5428 158.626 18.3848 158.396 19.3033C158.626 19.3799 159.085 19.533 159.315 19.6095C159.468 22.4417 159.162 25.4269 159.851 28.1825C160.08 24.9676 159.698 21.6762 160.386 18.4614C160.233 18.2317 159.927 17.849 159.774 17.6193C159.927 17.3897 160.31 17.007 160.463 16.7774C161.611 21.3701 161.228 26.1923 162.07 30.8616C161.764 31.3974 161.534 31.9332 161.305 32.3925C161.534 32.5456 161.764 32.6987 161.994 32.8518C161.534 33.4641 161.228 34.2296 161.075 34.9185C161.305 34.9185 161.841 34.8419 162.147 34.7654C161.687 35.1481 161.152 35.4543 160.692 35.837C161.075 36.8321 159.468 38.0568 160.769 38.6691C160.31 39.0519 159.851 39.5112 159.391 39.8939C159.698 40.2001 160.233 40.7359 160.539 41.0421C160.31 40.9655 159.851 40.8124 159.621 40.7359C159.085 42.3433 158.626 43.9507 158.703 45.6347C158.55 45.7113 158.167 45.7878 157.937 45.8644C157.631 46.7063 156.942 47.7014 157.708 48.5434C157.631 48.62 157.555 48.6965 157.555 48.773L156.942 48.1607C156.789 48.8496 156.636 49.5385 156.56 50.2274C156.254 50.6101 155.947 50.9163 155.641 51.299C155.488 51.2225 155.182 51.1459 155.029 51.0694C155.794 52.0645 154.952 53.2126 154.952 54.2843C155.029 55.0497 154.111 54.9732 153.651 55.2028C153.728 55.4325 153.881 55.8917 153.957 56.0448C153.116 56.7337 153.422 57.8053 153.575 58.7239C153.039 58.3411 152.656 57.193 151.891 58.188C152.274 58.5708 152.58 59.0301 152.963 59.4128C152.35 59.719 151.968 60.2547 151.968 61.0202C151.891 60.8671 151.738 60.6375 151.738 60.4844L150.896 61.3264C151.126 61.4795 151.585 61.8622 151.738 62.0153C151.202 62.1684 150.743 62.3215 150.284 62.4746C150.36 63.0104 150.437 63.5462 150.513 64.082C150.284 63.8523 149.748 63.4696 149.442 63.24C149.518 63.6227 149.672 64.3882 149.748 64.7709C149.518 64.8474 149.059 64.924 148.83 65.0005C148.906 65.2302 148.983 65.766 148.983 65.9956C148.064 66.9907 147.222 67.9858 146.227 68.9809C146.304 69.2105 146.457 69.7463 146.534 69.9759C145.998 70.4352 145.539 70.8944 145.079 71.4303L144.773 70.971C144.467 71.4303 144.084 71.9661 143.778 72.4254L144.008 72.5784C144.314 72.4253 145.003 72.0426 145.386 71.8895C144.467 73.1908 143.013 73.8032 141.865 74.7982C142.936 75.7168 141.942 76.0995 141.023 76.4822L141.635 76.7884C141.176 77.4007 140.87 78.0897 140.564 78.7786C140.334 78.6255 139.875 78.2428 139.645 78.0131C139.722 79.3144 139.11 80.386 138.727 81.5342C138.651 81.1514 138.574 80.3094 138.574 79.8502C137.656 80.4625 137.426 81.228 137.809 82.07C137.043 82.9885 136.355 83.8305 135.666 84.749C135.666 84.3663 135.666 83.6009 135.666 83.2182C135.36 83.754 135.206 84.2132 135.206 84.8256C134.747 85.2083 134.365 85.591 133.905 86.0503C133.752 85.7441 133.446 85.1318 133.293 84.8256C133.217 84.9021 132.987 85.0552 132.834 85.1318C133.064 85.3614 133.523 85.8207 133.829 86.0503C132.069 86.2034 131.15 87.7343 129.926 88.8059C130.079 88.8824 130.461 89.0355 130.614 89.0355C130.079 89.5713 129.084 92.0208 128.548 90.1837C126.405 92.6331 124.109 95.0061 121.813 97.3024C122.196 97.532 122.655 97.7616 123.037 97.9913C122.502 98.1444 121.966 98.2975 121.43 98.2975C121.277 98.6036 120.894 99.1395 120.665 99.4456C119.9 99.0629 119.364 99.8284 118.905 100.211C119.287 100.747 119.593 101.359 119.823 102.048C119.593 101.742 119.058 101.13 118.828 100.823C118.292 101.665 117.68 102.507 117.144 103.273C116.609 102.431 117.221 101.589 117.757 100.977C117.221 101.436 116.609 101.895 116.149 102.354C116.379 102.584 116.762 102.967 116.991 103.196C116.609 103.885 116.226 104.574 115.843 105.34C115.69 105.033 115.384 104.498 115.231 104.191C115.154 104.88 115.078 105.569 115.001 106.258C114.848 106.028 114.466 105.569 114.236 105.34L113.624 105.875C113.853 106.105 114.236 106.641 114.466 106.87C114.006 106.87 113.547 106.794 113.164 106.794C113.088 107.177 113.088 107.636 113.011 108.095C112.705 107.866 112.093 107.33 111.863 107.1C111.94 107.559 112.016 108.019 112.17 108.478C111.175 107.712 109.873 109.014 110.486 110.085L110.256 110.238C109.644 109.396 108.113 109.932 109.338 110.851V111.08C108.955 111.08 108.266 111.004 107.884 111.004C108.037 111.233 108.343 111.769 108.496 112.076C107.96 111.922 107.424 111.769 106.965 111.693L107.348 112.535C107.118 112.611 106.659 112.764 106.429 112.841C106.353 112.994 106.2 113.3 106.123 113.453C105.817 113.377 105.128 113.147 104.822 112.994C104.746 112.841 104.593 112.535 104.44 112.382C104.44 112.841 104.44 113.3 104.516 113.76C103.215 114.219 102.373 115.367 101.455 116.362C101.149 116.132 100.613 115.75 100.307 115.52C99.924 115.979 99.1586 116.362 99.8474 117.051C98.929 117.587 98.0106 118.199 97.0922 118.735C97.3218 119.041 97.5514 119.424 97.781 119.73C97.4749 119.5 96.8626 119.041 96.5565 118.735C96.2503 119.271 95.9442 119.806 95.7146 120.419C95.1023 120.419 94.4135 120.419 93.8777 120.649C94.1073 120.878 94.6431 121.337 94.8727 121.567C94.1839 121.337 93.5716 120.878 92.8063 121.184C92.9594 121.644 93.1124 122.179 93.2655 122.639C92.9593 122.256 92.6532 121.873 92.3471 121.49C92.194 121.644 91.8113 121.95 91.6583 122.026C91.8113 122.256 92.194 122.715 92.4236 122.945C92.1175 122.715 91.5817 122.256 91.3521 122.026C91.199 122.639 90.9694 123.251 90.8164 123.787C90.5868 123.634 90.2041 123.251 89.9745 123.098L89.0561 123.404C89.2857 123.71 89.6683 124.246 89.8979 124.476C89.5918 124.246 89.0561 123.863 88.8265 123.634C88.7499 124.016 88.5969 124.705 88.5203 125.088C88.3672 124.782 88.1377 124.246 88.0611 124.016L87.5254 124.093C87.5254 124.399 87.6019 124.935 87.6019 125.241C87.4488 125.012 87.0662 124.629 86.9131 124.476C86.76 124.858 86.3774 125.547 86.1478 125.854C85.9182 125.547 85.3824 124.858 85.0763 124.476C85.1528 124.629 85.3059 124.935 85.3824 125.165C84.8467 125.624 84.3874 126.083 83.9282 126.542L83.0864 125.93C83.316 125.777 83.8517 125.394 84.1578 125.241C83.5456 125.471 83.0099 125.7 82.4741 125.93L83.3925 126.389C82.4741 126.849 81.5557 127.308 80.8669 127.997C80.2546 128.15 79.6423 128.226 79.0301 128.38C78.9535 128.915 78.8769 129.375 78.8004 129.91C78.7239 129.604 78.4943 128.992 78.3412 128.686C77.5759 129.298 76.8105 129.987 76.2748 130.752C76.1217 130.523 75.8921 130.063 75.739 129.757C75.1267 130.37 74.591 130.982 74.0553 131.594C73.7492 131.365 73.1369 130.829 72.8307 130.523C72.7542 131.059 72.7542 131.594 72.7542 132.13C72.6011 131.901 72.2184 131.441 72.0654 131.212C71.6062 131.594 71.2235 131.977 71.1469 132.589C70.7643 132.743 70.3816 132.896 69.9989 133.049L68.9275 132.13C69.004 132.513 69.0805 133.278 69.1571 133.661C68.6213 133.125 68.0856 132.896 67.3968 132.972C67.5498 133.278 67.9325 133.967 68.0856 134.273C67.6263 134.044 67.1672 133.814 66.7845 133.585C65.9426 133.891 65.3303 135.345 64.3354 134.656C64.7181 134.503 65.5599 134.197 65.9426 133.967C65.1773 133.738 64.4119 133.661 63.6466 133.738C63.7996 133.967 64.0293 134.427 64.1058 134.656L63.57 135.192C63.417 135.039 63.1108 134.809 63.0343 134.656C62.2689 135.039 61.5036 135.345 60.7382 135.728C60.9679 135.957 61.4271 136.417 61.7332 136.646C61.274 136.493 60.8148 136.34 60.3556 136.034C58.5187 137.106 56.2227 136.723 54.4624 137.871L55.2277 138.56C54.2328 138.177 53.1613 138.483 52.2429 137.871C52.4725 138.79 51.6306 139.325 50.7887 138.637L51.9368 137.718C51.3245 138.024 50.7887 138.407 50.253 138.866C50.1765 138.713 49.9469 138.483 49.7938 138.33L50.253 138.943C49.6407 139.325 49.105 139.019 48.6458 138.637C48.7223 138.943 48.8754 139.479 49.0285 139.785C48.3396 139.708 47.7274 139.402 47.2682 139.019C47.1151 139.019 46.8855 138.943 46.8089 138.943C46.962 139.478 47.1151 140.091 47.2682 140.627C46.5028 140.397 45.7375 139.555 44.9721 140.32L44.5895 139.785C44.5129 140.167 44.4363 140.933 44.3598 141.316C44.1302 141.009 43.5945 140.397 43.3649 140.014C42.9822 140.244 42.6761 140.474 42.2934 140.703C41.4515 140.32 40.5331 140.474 39.8443 141.009C38.4667 141.162 37.089 141.316 35.7114 141.622C35.7114 141.851 35.7114 142.311 35.7114 142.464C35.4818 142.311 34.9461 141.928 34.7165 141.698C34.6399 141.928 34.5634 142.464 34.5634 142.77C34.1807 142.464 33.4919 141.928 33.1858 141.698C33.1858 142.081 33.2623 142.846 33.2623 143.229C33.0327 142.923 32.65 142.311 32.4204 142.004C30.6601 142.158 28.8998 142.464 27.063 142.54C27.2161 142.923 27.4457 143.382 27.5988 143.765C26.9865 142.617 25.8384 142.693 24.767 142.923C24.6904 143.306 24.6139 143.765 24.5374 144.148C24.5374 143.842 24.5374 143.306 24.5374 143C23.5424 142.923 22.4709 142.923 21.7056 143.688C20.8637 143.306 19.9453 143.382 19.0269 143.382C18.8738 143.688 18.4911 144.224 18.2615 144.454C17.9554 143.535 17.4962 143.459 16.9604 144.148L16.5777 143.688L16.2716 144.148C15.8124 143.995 15.4297 143.765 14.9705 143.612C14.5879 143.918 14.2052 144.301 13.746 144.607C13.2102 144.454 12.6745 144.224 12.1387 144.071C11.5265 145.143 10.7611 143.918 10.2254 143.612C9.84271 143.612 9.46005 143.688 9.00084 143.688C8.61817 143 8.08239 142.54 7.24051 142.77C6.47516 141.928 5.78638 141.086 6.16905 139.861C7.164 140.397 8.23547 140.78 8.92428 141.698C10.0723 141.392 11.2969 141.469 12.5214 141.469C11.603 140.014 10.3019 139.325 8.61817 140.014C8.31203 139.708 7.77629 139.096 7.47015 138.79C8.15896 138.79 8.84774 138.79 9.53655 138.866C9.15387 138.56 8.69469 138.254 8.31201 137.871C7.8528 138.33 7.39361 138.713 6.9344 139.172C6.55172 138.866 5.86292 138.254 5.55678 137.948C5.48025 138.254 5.40368 138.866 5.32714 139.172C5.25061 138.79 5.17408 138.407 5.09755 138.024C5.40369 137.718 5.93943 137.106 6.24557 136.799C5.70982 136.799 5.17408 136.876 4.71487 136.953C4.94448 135.881 5.02102 134.733 4.86795 133.661C5.09756 133.508 5.63329 133.202 5.86289 133.049C5.32715 132.513 4.7149 131.901 4.79144 131.135C3.71995 129.145 2.26577 126.313 3.71993 124.246C3.56686 124.093 3.26072 123.787 3.18418 123.634C3.41379 123.481 3.79646 123.251 3.94953 123.174C3.41379 122.026 2.41883 121.337 2.03616 120.189C2.26577 119.5 2.41883 118.735 2.64843 118.046C2.26576 117.74 1.88308 117.51 1.50041 117.204C1.65348 116.974 2.03617 116.439 2.18924 116.209C2.18924 115.214 2.3423 114.142 3.56685 114.142C3.71992 112.764 4.02605 111.463 4.5618 110.162C2.26576 110.162 1.88311 112.075 1.1943 113.836C0.735091 112.458 1.80659 111.234 1.34738 110.009C0.735101 109.167 1.34738 108.325 1.73005 107.483C1.27084 107.253 0.811635 107.1 0.582031 107.024ZM7.24051 135.728C13.5164 137.412 20.481 135.651 26.8334 134.809C35.941 133.967 45.1252 131.901 53.6971 128.762C53.9267 128.839 54.3094 128.915 54.539 128.992C56.3758 128.15 58.2126 127.308 60.0494 126.542C43.1353 132.36 25.1496 136.034 7.24051 135.728ZM135.206 8.96981C135.589 9.50562 136.354 8.66365 136.278 8.12784C135.895 7.59202 135.13 8.51054 135.206 8.96981ZM12.0622 140.856C12.6745 140.703 13.3633 140.55 13.9756 140.397C13.8225 141.392 14.4348 142.234 15.3532 142.617C15.0471 142.387 14.4348 141.851 14.2052 141.545C15.2001 141.316 16.5778 141.928 17.2666 141.009C17.4196 140.167 18.0319 140.091 18.185 140.933C18.7973 141.622 20.1749 140.933 21.0167 141.469C21.0933 141.392 21.3229 141.316 21.3994 141.239C21.2464 141.009 20.8637 140.474 20.7106 140.244C21.0168 140.474 21.5525 140.933 21.8587 141.162C23.4659 137.488 14.6644 140.78 12.8276 140.014C12.751 140.167 12.2918 140.627 12.0622 140.856ZM21.9352 139.249C22.1648 139.785 22.3944 140.397 22.624 140.933C23.3893 141.009 24.2312 141.086 24.9966 141.316C25.0731 141.162 25.3027 140.78 25.3792 140.55C26.2976 140.474 27.1395 140.397 28.0579 140.244C27.9814 140.014 27.9049 139.402 27.8283 139.172C28.058 139.478 28.4406 140.014 28.6702 140.32C30.8897 139.632 33.3388 139.785 35.5583 139.019C35.3287 138.866 34.793 138.56 34.4869 138.407C34.8695 138.33 35.6349 138.177 35.941 138.101C35.0991 137.259 34.0277 137.871 33.1093 137.948C33.1093 138.177 33.0327 138.637 33.0327 138.866C32.5735 139.019 32.1908 139.172 31.7316 139.249C32.0377 138.943 32.65 138.407 33.0327 138.177C29.2825 138.024 25.6854 139.019 21.9352 139.249ZM151.049 10.0415C151.738 10.3476 152.809 8.74018 151.891 8.35746C151.279 8.51055 150.743 9.4291 151.049 10.0415ZM38.3136 129.987C38.3136 130.599 39.3851 130.752 39.5381 130.14C39.5381 129.604 38.4667 129.451 38.3136 129.987ZM38.8494 136.799C39.079 137.029 39.5381 137.412 39.7677 137.565L38.8494 138.483C40.0739 138.254 41.375 138.024 42.6761 137.795L41.9107 137.182C42.2934 137.029 42.5995 136.876 42.9822 136.723C43.0587 136.953 43.2118 137.335 43.3649 137.488C44.7425 137.106 46.1967 136.799 47.5743 136.417C47.4212 136.264 47.1916 135.957 47.1151 135.728C47.4978 135.498 48.1866 134.962 48.4927 134.733C45.2782 135.575 42.1403 136.417 38.8494 136.799ZM155.565 17.1601C155.718 17.6194 155.871 18.1552 156.1 18.6144C156.407 17.7724 156.636 16.9304 156.789 16.0885C156.33 16.4712 155.871 16.8539 155.565 17.1601ZM49.7938 135.422C50.0234 135.957 51.0183 135.804 51.1714 135.192C50.8653 134.733 49.8703 134.886 49.7938 135.422ZM51.3245 134.273C51.9368 134.197 52.549 134.12 53.1613 133.967C53.2378 134.12 53.3909 134.503 53.4675 134.733C53.8501 133.814 54.7686 133.355 55.687 132.896C54.8451 132.666 54.0797 132.972 53.6971 133.738C52.8552 133.278 52.0898 133.967 51.3245 134.273ZM56.6054 133.508C57.0646 133.431 57.5238 133.355 58.0595 133.278C57.983 133.125 57.8299 132.743 57.7534 132.589C58.2126 132.054 58.9014 132.13 59.5137 131.977L59.0545 132.743C59.2841 132.743 59.7433 132.666 59.9729 132.666C59.8964 132.513 59.6668 132.13 59.5902 131.901C59.8964 131.671 60.5852 131.135 60.8913 130.905C59.131 131.135 57.3707 131.824 56.6054 133.508ZM66.7079 128.609C67.0906 129.221 68.3917 128.839 68.6213 128.15C68.2386 127.384 66.861 127.997 66.7079 128.609ZM157.325 34.8419C157.172 35.3777 158.243 36.1432 158.243 35.2246C158.32 34.6888 157.325 33.9234 157.325 34.8419ZM68.7744 127.767C69.8459 127.691 70.9174 127.308 71.8358 126.619C70.5347 126.083 69.8459 127.461 68.7744 127.767ZM73.5961 125.624C73.5961 126.083 74.1318 126.542 74.6676 126.542C75.3564 125.93 74.0553 124.782 73.5961 125.624ZM152.427 49.3089C152.197 49.5385 151.738 49.9212 151.585 50.0743C151.968 49.9212 152.274 49.8447 152.656 49.6916C152.656 49.3089 152.656 49.0027 152.656 48.6199C152.809 48.5434 153.192 48.3903 153.345 48.3138C153.498 47.4718 153.651 46.5533 153.728 45.6347C154.034 45.6347 154.417 45.7113 154.723 45.7113C154.57 45.0989 154.417 44.41 154.187 43.7976C153.498 45.6347 151.738 47.3952 152.427 49.3089ZM142.783 57.193C143.243 57.5757 143.549 57.4226 143.625 56.7337C143.09 56.351 142.86 56.5041 142.783 57.193ZM147.911 58.877C147.682 58.8004 147.299 58.7239 147.146 58.6473C146.151 60.4079 144.85 62.0153 143.625 63.6993C143.778 64.1585 144.008 64.6178 144.161 65.0005C143.931 63.24 144.391 62.9338 146.074 63.0869C146.534 62.3215 146.916 61.556 147.375 60.7906C147.222 60.6375 146.763 60.2547 146.61 60.1016C146.763 59.1831 147.911 59.2597 148.6 58.877C146.457 57.4991 151.126 57.2695 149.365 55.8917C149.748 55.4324 150.36 54.9732 149.365 54.4374C149.748 54.4374 150.207 54.4374 150.59 54.4374C150.743 53.9781 150.973 53.5188 151.126 53.0595L151.279 53.4423C151.508 52.7533 151.814 52.0645 152.197 51.3756C151.661 51.6818 151.202 52.0645 150.666 52.3707L151.126 52.4472C151.049 52.6003 150.82 52.8299 150.743 52.983C150.59 52.9065 150.207 52.6768 150.054 52.6003C149.595 54.8201 147.146 56.5806 147.911 58.877ZM116.226 90.7195C117.527 89.6479 118.675 88.3467 119.976 87.1985L119.746 86.8923C118.598 88.117 117.068 89.1121 116.226 90.7195ZM123.037 83.754C124.339 82.6058 125.64 81.3811 126.711 80.0033C125.257 81.0749 124.185 82.3762 123.037 83.754ZM102.143 109.167C102.679 109.703 104.133 108.631 103.904 108.019C103.215 107.866 102.297 108.401 102.143 109.167ZM138.115 72.1192C138.038 72.5784 138.038 72.9612 138.038 73.4204C135.283 74.7982 134.518 77.86 132.375 79.9267C132.528 80.0033 132.834 80.2329 133.063 80.386C133.37 80.3094 133.982 80.0798 134.212 80.0033C134.594 79.4675 135.053 78.9316 135.436 78.4724C135.053 77.7835 135.13 77.1711 135.742 76.5588C135.819 76.8649 136.048 77.5538 136.125 77.86C136.125 77.5538 136.125 77.018 136.125 76.7884C136.354 76.6353 136.89 76.2526 137.12 76.0229C136.737 76.0229 135.895 76.023 135.513 75.9464C136.278 75.4871 137.12 73.8797 138.038 74.9513C138.038 74.6452 138.038 74.339 137.962 74.0328C138.421 73.1908 138.497 72.2722 138.88 71.4303C138.727 71.5833 138.268 71.9661 138.115 72.1192ZM105.358 106.717C105.358 107.177 106.047 107.942 106.506 107.559C106.812 106.947 105.588 105.799 105.358 106.717ZM108.113 103.732C108.572 103.732 109.032 103.732 109.491 103.809C110.562 102.661 111.787 101.665 113.011 100.594C111.404 101.589 109.797 102.737 108.113 103.732ZM115.231 100.364C115.767 99.4456 116.149 98.4505 116.379 97.4554C116.302 97.3789 116.149 97.1493 115.996 96.9962C114.695 97.7616 114.772 99.1395 115.231 100.364ZM122.425 90.9491C123.344 91.1788 123.803 90.2603 124.339 89.7245C124.568 89.801 125.027 90.0306 125.257 90.1072C125.946 89.4183 126.635 88.6528 127.4 87.9639C126.788 87.3516 126.635 86.433 127.783 86.6627C128.242 86.1269 128.778 85.6676 129.237 85.1318C129.084 84.9021 128.931 84.3663 128.778 84.1367C127.017 86.6627 124.109 88.2701 122.425 90.9491ZM129.543 83.0651C129.849 83.2181 130.385 83.4478 130.614 83.6009C130.002 83.6774 129.313 83.6774 128.701 83.754C129.007 84.1367 129.619 84.8256 129.849 85.2083C130.691 83.7539 131.762 82.5292 132.987 81.3811C132.375 81.6107 131.839 81.8403 131.303 82.07C131.762 81.7638 132.604 81.1515 132.987 80.8453C132.681 80.6922 132.145 80.3095 131.839 80.1564C131.15 81.0749 130.385 82.07 129.543 83.0651ZM116.609 96.7666C116.762 97.3024 117.757 97.7616 117.91 96.9962C117.986 96.3073 116.685 96.0777 116.609 96.7666ZM117.986 96.9197C118.522 96.3839 118.981 95.6949 118.981 94.9295C119.287 95.3887 119.517 95.7715 119.823 96.2307C119.9 95.5418 119.823 94.853 119.9 94.2406C120.206 94.4702 120.741 94.8529 121.048 95.0826C120.971 94.7764 120.894 94.2406 120.818 93.9344C121.124 93.7048 121.66 93.0924 121.966 92.8628L121.201 92.48C119.9 93.7048 117.144 94.6999 117.986 96.9197ZM123.497 91.3319C123.956 91.7146 124.262 91.485 124.415 90.8726C123.879 90.4899 123.573 90.7195 123.497 91.3319Z"
          fill="#DF701B"
        />
      </svg>

      <svg
        style="position: absolute; left: 0%; bottom: 0%; z-index: 0"
        width="144"
        height="91"
        viewBox="0 0 144 91"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M143.621 124.215C143.544 74.3077 107.955 29.0698 67.1624 10.0867C51.932 3.04457 35.7832 0.0593283 19.9405 0.90132C-34.7052 3.65693 -47.41 127.736 -47.41 128.578C-63.5588 316.112 143.774 200.453 143.621 124.215Z"
          fill="#477E72"
        />
      </svg>

      <svg
        style="position: absolute; right: 2%; bottom: 2%; z-index: 0"
        width="64"
        height="54"
        viewBox="0 0 64 54"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8.4601 6.43259C8.4601 5.97332 8.38353 5.51405 8.23046 5.13132C8.23046 4.67205 8.23046 4.21279 8.23046 3.75353C8.15392 -0.686071 1.34229 -0.686071 1.34229 3.75353C1.34229 6.58568 1.41886 9.49439 1.41886 12.3265C0.959646 25.2626 -0.111855 38.6579 1.64845 51.3644C1.87806 52.9718 3.56182 53.5842 4.93946 53.278C6.7763 53.4311 8.6897 52.3594 8.6897 49.9865C8.61316 35.443 8.53664 20.8996 8.4601 6.43259Z"
          fill="#3C3735"
        />
        <path
          d="M22.0831 6.43259C22.0831 5.97332 22.0066 5.51405 21.8535 5.13132C21.8535 4.67205 21.8535 4.21279 21.8535 3.75353C21.777 -0.686071 14.9654 -0.686071 14.9654 3.75353C14.9654 6.58568 15.0419 9.49439 15.0419 12.3265C14.5827 25.2626 13.5112 38.6579 15.2715 51.3644C15.5011 52.9718 17.1848 53.5842 18.5625 53.278C20.3993 53.4311 22.3127 52.3594 22.3127 49.9865C22.2361 35.443 22.1596 20.8996 22.0831 6.43259Z"
          fill="#3C3735"
        />
        <path
          d="M35.708 6.43259C35.708 5.97332 35.6315 5.51405 35.4784 5.13132C35.4784 4.67205 35.4784 4.21279 35.4784 3.75353C35.4019 -0.686071 28.5904 -0.686071 28.5904 3.75353C28.5904 6.58568 28.6669 9.49439 28.6669 12.3265C28.2077 25.2626 27.1362 38.6579 28.8965 51.3644C29.1261 52.9718 30.8099 53.5842 32.1875 53.278C34.0243 53.4311 35.9376 52.3594 35.9376 49.9865C35.8611 35.443 35.7846 20.8996 35.708 6.43259Z"
          fill="#3C3735"
        />
        <path
          d="M49.3312 6.43259C49.3312 5.97332 49.2547 5.51405 49.1016 5.13132C49.1016 4.67205 49.1016 4.21279 49.1016 3.75353C49.0251 -0.686071 42.2134 -0.686071 42.2134 3.75353C42.2134 6.58568 42.2899 9.49439 42.2899 12.3265C41.8307 25.2626 40.7593 38.6579 42.5196 51.3644C42.7492 52.9718 44.4329 53.5842 45.8106 53.278C47.6474 53.4311 49.5608 52.3594 49.5608 49.9865C49.4843 35.443 49.4077 20.8996 49.3312 6.43259Z"
          fill="#3C3735"
        />
        <path
          d="M62.9541 6.43259C62.9541 5.97332 62.8776 5.51405 62.7245 5.13132C62.7245 4.67205 62.7245 4.21279 62.7245 3.75353C62.6479 -0.686071 55.8364 -0.686071 55.8364 3.75353C55.8364 6.58568 55.913 9.49439 55.913 12.3265C55.4538 25.2626 54.3823 38.6579 56.1426 51.3644C56.3722 52.9718 58.0559 53.5842 59.4335 53.278C61.2703 53.4311 63.1837 52.3594 63.1837 49.9865C63.1072 35.443 63.0306 20.8996 62.9541 6.43259Z"
          fill="#3C3735"
        />
      </svg>

      <div
        style="
          width: 100%;
          position: relative;
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        "
      >
        <!-- Company logo container -->
        <div
          style="
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
          "
        >
          <img
            src="<%- companyLogoURL %> "
            style="width: 25%"
            alt="company-logo"
          />
        </div>

        <!-- Cert main content -->
        <div
          style="
            width: 100%;
            margin-top: 1.2rem;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
          "
        >
          <div style="font-weight: bold; font-size: 2.4rem; color: #000">
            Certificate of Completion
          </div>
          <div style="font-size: 0.7rem; margin-top: 0.4rem">
            We hereby present this certificate to
          </div>

          <!-- Talents name -->
          <div
            style="
              width: 65%;
              margin-top: 2rem;
              border-bottom: 1px solid #000;
              font-size: 1.4rem;
              padding-bottom: 0;
            "
          >
            <%- talentsName %>
          </div>

          <div style="font-size: 0.7rem; margin-top: 0.8rem">
            for your successful completion with distinction of the course
          </div>

          <!-- Module title -->
          <div
            style="
              width: 45%;
              font-size: 1.2rem;
              margin-top: 1.2rem;
              font-weight: bold;
            "
          >
            <%- moduleTitle %>
          </div>

          <!-- Cert ID -->
          <div style="font-size: 0.5rem; margin-top: 0.4rem">
            Cert ID: <%- certId %>
          </div>
        </div>

        <!-- Signatures -->
        <div
          style="
            width: 100%;
            margin-top: 1.2rem;
            display: -webkit-box;
            display: -webkit-flex;
            -webkit-flex-wrap: wrap;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            flex-flow: row;
            -webkit-flex-flow: row;
            justify-content: start;
            align-items: center;
            -webkit-justify-content: start;
            -webkit-align-items: center;
          "
        >
          <!-- Upsurge Signature -->
          <div style="width: 25%; margin-right: 1.6rem">
            <img
              style="height: 100px; margin-bottom: -1.2rem"
              src="<%- upsurgeSignatureFileURL %> "
              alt="upsurge-signature"
            />
            <div
              style="
                width: 80%;
                height: 1px;
                background-color: #000;
                margin-bottom: 1rem;
              "
            ></div>
            <div style="font-weight: bold; font-size: 0.7rem">Howie Chang</div>
            <div style="font-weight: bold; font-size: 0.7rem">
              CEO, Co-Founder of UpSurge
            </div>
          </div>
          <!-- Company Signature -->
          <div style="width: 25%">
            <div
              style="
                width: 100%;
                max-height: 100px;
                height: 100px;
                margin-bottom: -1.2rem;
              "
            >
              <img
                style="max-width: 100%; max-height: 100px"
                src="<%- companySignatureFileURL %> "
                alt="company-signature"
              />
            </div>
            <div
              style="
                width: 80%;
                height: 1px;
                background-color: #000;
                margin-bottom: 1rem;
              "
            ></div>
            <div style="font-weight: bold; font-size: 0.7rem">
              <%- companySignatureName %>
            </div>
            <div style="font-weight: bold; font-size: 0.7rem">
              <%- companySignatureTitle %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
