.card {
  width: 30%;
  border-radius: 6px;
  border: 1px solid #000;
  padding: 0.8rem;
  margin: 0rem 0.4rem;

  .company {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .companyLogo {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 0.8rem;
    }

    .companyName {
      font-size: 0.9rem;
      margin-left: 0.6rem;
    }
  }

  .module {
    margin: 1rem 0;
    padding-left: 0.6rem;

    .duration {
      font-size: 0.7rem;
      padding-bottom: 0.4rem;
    }

    .moduleTitle {
      font-size: 1rem;
      font-weight: bold;
      padding-bottom: 0.4rem;
    }

    .progressStatus {
      font-size: 0.7rem;
    }
  }
}
