.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .sideNav {
    width: 280px;
    height: 100%;
    padding: 2rem;
    border-right: 1px solid #8172e0;
    border-top: 1px solid #8172e0;

    .userRole {
      padding: 0.4rem;
      border-radius: 6px;
      background-color: #fff;
      text-align: center;
      border: 1px solid #000;
    }

    ul {
      margin-top: 4rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      li {
        margin: 0.8rem 0rem;
        padding: 0.4rem 0.8rem;
        border-radius: 6px;
        background-color: #8172e0;
        color: #fff;
        font-size: 0.8rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .content {
    flex-grow: 1;
    padding: 4rem 2rem;
  }
}
