.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #000;
}

.modulesDetailsContainer {
  padding-right: 2.4rem;

  .moduleLink {
    color: #7461e8;
    text-decoration: underline;
  }
}
