.statusBar {
  width: 100%;
  padding: 0.6rem;
  margin: 0.8rem 0rem;
  color: #fff;
  border-radius: 6px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__success {
  background-color: #59a310;
}

.__error {
  background-color: #cc2f2c;
}

.__warning {
  background-color: #fed330;
}
