.divider {
  margin: 1.6rem 0;
  width: 100%;
  background-color: #000;
  height: 1px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.forgotPasswordLink {
  text-decoration: underline;
  color: #8172e0;
  font-size: 0.8rem;
  margin-top: 0.8rem;
}
