.navbar {
  width: 100%;
  background: #fff;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navMenu {
    list-style: none;
    display: flex;
    flex-direction: row;

    li {
      margin: 0.2rem 0.6rem;
      font-weight: normal;
      font-size: 0.8rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .logo {
    &:hover {
      cursor: pointer;
    }
  }

  .userContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .user {
      margin-right: 0.8rem;
    }

    .email {
      font-size: 1rem;
      font-weight: bold;
    }

    .name {
      font-size: 0.8rem;
      font-weight: lighter;
    }
  }
}
