// .table {
//   width: 100%;
//   padding: 0;
//   margin-top: 4rem;
//   border: 1px solid #000;
//   border-radius: 6px;
//   border-collapse: collapse;
// }

// .tableHeader {
//   width: 100%;

//   th {
//     text-align: left;
//     padding-left: 0.4rem;
//     border-bottom: 1px solid #000;
//   }
// }

// .talentCell {
//   width: 100%;
//   padding: 0.6rem;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;

//   .profileImg {
//     width: 25px;
//     height: 25px;
//     background-color: gray;
//     border-radius: 50%;
//     overflow: hidden;
//     margin-right: 0.8rem;
//   }

//   .talent {
//     flex-grow: 1;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: flex-start;

//     .talentName {
//       font-weight: bold;
//       font-size: 0.8rem;
//     }

//     .lastUpdated {
//       margin: 0;
//       font-weight: lighter;
//       font-size: 0.7rem;
//     }
//   }
// }

// .moduleCell {
//   width: 100%;
//   padding: 0.6rem;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: flex-start;

//   .moduleTitle {
//     font-weight: bold;
//     font-size: 0.9rem;
//     text-overflow: ellipsis;
//     overflow-wrap: break-word;
//     word-wrap: break-word;
//   }

//   .completionStatus {
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//     align-items: center;

//     .status {
//       width: 10px;
//       height: 10px;
//       border-radius: 50%;
//       margin-right: 0.8rem;
//     }

//     .__complete {
//       background-color: green;
//     }

//     .__inProgress {
//       background-color: yellow;
//     }
//   }
// }

// .certificateStatus {
//   font-size: 0.9rem;
//   font-weight: bold;
//   text-transform: uppercase;
//   padding: 0.4rem;
//   text-align: center;

//   .__awardedCert {
//     color: green;
//   }

//   .__pendingCert {
//     color: pink;
//   }

//   .awardCertBtn {
//     border-radius: 6px;
//     background-color: purple;
//     padding: 0.4rem;
//     color: #fff;
//     text-align: center;

//     &:hover {
//       cursor: pointer;
//     }
//   }
// }
